a {
	color: #99f;
	font-weight: bold;
	text-decoration: none;
}

body {
	font-family: roboto, sans-serif;
	color: #fff;
}

svg { 
	height:100%;
	width:100%;
}

html, body {
	margin:0;
	padding:0;
	background-color: #222;
}

#wrapper {
	background-color: #333;
	height: 300px;
	width:100%;
}

#screenwidth {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #49e;
	margin-top: 5px;
	color: #fff;
	text-align: center;
}

#title {
	font-size: 30px;
	text-align: center;
	padding: 5px;
}

#description {
	padding: 20px;
	text-align: left;
	font-size: 20px;
	padding-bottom: 10px;
}

#wiki {
	position: fixed;
	right: 0;
	top: 0;
	padding:0px;
	overflow:hidden;
	transition: width 0.5s cubic-bezier(.49,.62,.43,.98);
	height: 100vh;
	background-color: #666;
}

.wikion {
	width: 50%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.wikioff {
	width: 0;
}

#wikiframe {
	overflow:hidden;
	height:100%;
	width:50vw;
}


#wikitoggle {
	background-color:#567;
	color: #fff;
	padding: 10px;
	width: auto;
	display: inline-block;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	font-size: 14px;
	margin-top: 15px;
}

#byline {
	text-align: center;
	font-size: 10px;
}

hr {
    border: 0;
    height: 1px;
    background: #eee;
}

/* typeahead styling */

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
	width: 422px;
	margin-top: 4px;
	padding: 4px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	color: #333;

}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

#convert input {
	line-height: 1.313rem;
	width: 300px;
	font-size: 14px;
	letter-spacing: 0;
	padding: 5px;
	border: 1px solid #303233;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #eee;
	-webkit-box-shadow: inset 0 1px rgba(0,0,0,0.18);
	box-shadow: inset 0 1px rgba(0,0,0,0.18);
	vertical-align: top;
}

#convert {
	padding-left: 20px;
	padding-top: 5px;
}